<form style="margin: 10px; padding:10px;" [formGroup]="form">
  <div class="row">
  <!-- First name -->
  <div class="col">
    <label for="firstNameInput">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstNameInput"
      placeholder="Enter first name"
      formControlName="firstName"
    />

    <div
      class="text-danger"
      *ngIf="
        form.get('firstName').errors?.required && form.get('firstName').dirty
      "
    >
      Field is required
    </div>

    <div
      *ngIf="
        form.get('firstName').errors?.minlength && form.get('firstName').dirty
      "
      class="text-danger"
    >
      The minimum length of field is 3 characters
    </div>
  </div>

    <!-- /First name -->

    <!-- Last name -->
    <div class="col">
      <label for="lastNameInput">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastNameInput"
        placeholder="Enter last name"
        formControlName="lastName"
      />

      <div
        *ngIf="form.get('lastName').invalid && form.get('lastName').dirty"
        class="text-danger"
      >
        Field is required
      </div>
    </div>

    <!-- /Last name -->
  </div>
    <!-- is experienced -->
    <div class="form-group form-check" style="margin-top: 10px;">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="isExperienced"
      />
      <label class="form-check-label">I have experience > 2 yrs </label>
    </div>
    <!-- /is experienced -->

    <!-- Angular preference -->
    <div class="form-group">
      <label class="font-weight-bold">Angular Preferene</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="angular"
          value="1"
          id="angularjs"
        />
        <label class="form-check-label" for="angularjs">angularJs</label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="angular"
          id="angular"
          value="2"
        />
        <label class="form-check-label" for="angular">angular</label>
      </div>
    </div>
    <!-- /Angular preferene -->

    <!-- Favourite language -->
    <div class="form-group">
      <label class="form-control-label">Favourite Language</label>
      <select class="form-control" formControlName="language">
        <option [ngValue]="null">Select</option>
        <option *ngFor="let lang of programmingLanguages" [ngValue]="lang">
          {{ lang }}
        </option>
      </select>
      <div
        class="text-danger"
        *ngIf="form.get('language').invalid && form.get('language').dirty"
      >
        Field is required
      </div>
    </div>

  <!-- /Favourite language -->

  <!-- JS Version -->
  <div class="form-group" [hidden]="favoriteLang != 'JS'">
    <label>JS Version</label>
    <input class="form-control" type="text" formControlName="jsversion" />
    <div
      class="text-danger"
      *ngIf="form.get('jsversion').invalid && form.get('jsversion').dirty"
    >
      Field is required
    </div>
  </div>
  <!-- /JS Version -->

  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
